@page
@model FinalProject.Areas.EmailSystem.Pages.ReadEmailModel
@{
    ViewData["Title"] = "Read Email";
}

<h1>Email Details</h1>

@if (Model.emailInfo != null)
{
<div >
    <h2 class="text-black">@Model.emailInfo.EmailSubject</h2>
    <p class="text-black">Sender: @Model.emailInfo.EmailSender</p>
    <p class="text-black">Receiver: @Model.emailInfo.EmailReceiver</p>
    <p class="text-black">Date sent: @Model.emailInfo.EmailDate</p>
    <br/>
    <p class="text-black">@Model.emailInfo.EmailMessage</p>
    <br />
    <a class="btn btn-primary btn-sm" href="/ComposeEmail?Sender=@User.Identity?.Name&Receiver=@Model.emailInfo.EmailSender&Subject=Re: @Model.emailInfo.EmailSubject">Reply</a>
</div>
}
else
{
<p>Email not found.</p>
}